.row {
  padding-left: 30px;
  padding-right: 30px;
}

.search-title {
  margin-bottom: 30px;
}

.search-bar {
  margin-bottom: 10px;
}

.btn {
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .Search .search-bar {
    width: 100%;
  }
}
